In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_predict
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from scipy.stats import pearsonr

In [2]:
# Carregar a base de dados
url = '../data/hospital.xls'
df = pd.read_excel(url)
df

,ID,LastName,Sex,Age,Weight,Smoker,BloodPressure_1,BloodPressure_2,Trials_1,Trials_2,Trials_3,Trials_4
0,YPL-320,SMITH,Male,38,176,True,124,93,18.0,NaN,NaN,NaN
1,GLI-532,JOHNSON,Male,43,163,False,109,77,11.0,13.0,22.0,NaN
2,PNI-258,WILLIAMS,Female,38,131,False,125,83,NaN,NaN,NaN,NaN
3,MIJ-579,JONES,Female,40,133,False,117,75,6.0,12.0,NaN,NaN
4,XLK-030,BROWN,Female,49,119,False,122,80,14.0,23.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,REV-997,ALEXANDER,Male,25,171,True,128,99,1.0,NaN,NaN,NaN
96,HVR-372,RUSSELL,Male,44,188,True,124,92,22.0,NaN,NaN,NaN
97,MEZ-469,GRIFFIN,Male,49,186,False,119,74,9.0,NaN,NaN,NaN
98,BEZ-311,DIAZ,Male,45,172,True,136,93,NaN,NaN,NaN,NaN
99,ZZB-405,HAYES,Male,48,177,False,114,86,28.0,NaN,NaN,NaN

In [3]:
# Definir as variáveis independentes (preditoras) e a variável dependente
X = df[['Sex', 'Age', 'Weight', 'Smoker']]
y = df[['BloodPressure_1', 'BloodPressure_2']]

In [4]:
# Converter variáveis categóricas em variáveis dummy
X = pd.get_dummies(X, drop_first=True)

In [5]:
# Criar o modelo de regressão linear
model = LinearRegression()

In [6]:
# Realizar a validação cruzada com 5 pastas
y_pred = cross_val_predict(model, X, y, cv=5)

In [7]:
# Calcular e imprimir os coeficientes de Pearson e os erros médios quadráticos para cada pasta
for i in range(5):
    pearson, _ = pearsonr(y.iloc[i], y_pred[i])
    mse = mean_squared_error(y.iloc[i], y_pred[i])
    print(f'Pasta {i+1}:')
    print(f'   Coeficiente de Pearson: {pearson}')
    print(f'   Erro médio quadrático: {mse}')

Pasta 1:
   Coeficiente de Pearson: 1.0
   Erro médio quadrático: 22.346131850539194
Pasta 2:
   Coeficiente de Pearson: 1.0
   Erro médio quadrático: 75.39114417511458
Pasta 3:
   Coeficiente de Pearson: 1.0
   Erro médio quadrático: 19.284118073067738
Pasta 4:
   Coeficiente de Pearson: 1.0
   Erro médio quadrático: 16.00762350811762
Pasta 5:
   Coeficiente de Pearson: 1.0
   Erro médio quadrático: 0.47768816302132927